{% extends "_base.html" %}
{% load static %}


{% block title %}Editer Votre Entréprise{% endblock title %}

{% block content %}
<div style="text-align:center;" class="centered">
<h1>
    Modifiez les Parametres de votre Entreprise!
</h1>

<h1>
    <br>
{% if object.logo %}
    <img style="width:100px; height:100px; border-radius:10%" class="logo " src="{{object.logo.url}}">

{% endif %}
<br>
    <a href="{% url "company_real_update" object.pk %}">{{object.name}}</a>
</h1>
<p>
{% for info in infos %}
    <strong>{{info.index}}:</strong> {{info.info}}<a href="{% url "info_update" info.pk %}">Modifier</a>| <a href="{% url "info_delete" info.pk %}">Delete</a><br>
{% endfor %}
<div class="text-right">
    <a href="{% url "info_create" %}">Ajouter une information</a>
</div>
</p>
<br>
</div>
{% endblock %}