{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
    <title>{% block title%} {% endblock%}</title>
</head>
<body>


<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <h3><a class="navbar-brand" href="{% url "sale_create" %}">{% if user.is_authenticated %}
      {% if user.company.logo %}
      <img style="width:100px; height:100px; border-radius:50%" class="logo " src="{{user.company.logo.url}}">
      {% endif %}
      {{user.company.name}}{% else %}Mon Entreprise{% endif%}</a></h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item">
          {% if user.is_authenticated %}
          {% if user.is_superuser %}
          <a class="nav-link" href="{% url "company_update" %}">
            <i class="fa fa-envelope-o">
              <span class="badge badge-danger"></span>
            </i>
            Parametre
          </a>
          <a class="nav-link" href="{% url "agents" %}">
            
            Les Agents
          </a>
          {% endif %}
          {% endif %}
        </li>
        
        <li class="nav-item dropdown">
          {% if user.is_authenticated %}
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-envelope-o">
            <!--  <span class="badge badge-primary">11</span> -->
            </i>
            {{user.username}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url "account_email" %}">Changer Email</a>
            <a class="dropdown-item" href="{% url "account_change_password" %}">Changer Mot de passe</a>
            <div class="dropdown-divider"></div>
            <a class="btn-danger dropdown-item " href="{% url "account_logout" %}">Deconnecter</a>
          </div>
          {% else %}
          <a href="{% url "account_login" %}">
            Connecter 
          </a>
          {% endif %}
        </li>
      </ul>
      {% if user.is_authenticated %}
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="{% url "sale_create" %}">
            <i class="fa fa-bell">
              <span class="badge badge-info"></span>
            </i>
            Operation
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "arrival_create" %}">
            <i class="fa fa-bell">
              <span class="badge badge-info"></span>
            </i>
            Entrée
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "sale_list" %}">
            <i class="fa fa-globe">
              <span class="badge badge-success"></span>
            </i>
            Mes Ventes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "stock_list" %}">
            <i class="fa fa-globe">
              <span class="badge badge-success"></span>
            </i>
            Produits
          </a>
        </li>
      </ul>
      
      {% endif %}
    </div>
  </nav>
    
    <div class="mainContainer m-3">
    {% block content %}

    {% endblock content %}
    </div>

    <footer class="footer">
      <div class="footer__addr">
        <h1 class="footer__logo"><img style="width:100px; height:100px;border-radius:50%"src="{% static "image/hydraSoftware.jpg" %}" alt="logo">HydraSoftware</h1>
            
        <h2>Contact</h2>
        
        <address>
        Ségou Mali. 00223 91550337<br>
          00223 89414930    
          <a class="footer__btn" href="mailto:ihaidara852@gmail.com">Email Us</a>
          Crééer le logicièl adéquate de votre business!
        </address>
      </div>
      
      <ul class="footer__nav">
        <li class="nav__item">
          <h2 class="nav__title"></h2>
    
          <ul class="nav__ul">
            <li>

            </li>
    
            <li>

            </li>
                
            <li>

            </li>
          </ul>
        </li>
        
        <li class="nav__item nav__item--extra">
          <h2 class="nav__title"></h2>
          
          
        </li>
        
        <li class="nav__item">
          <h2 class="nav__title"></h2>
          
          <ul class="nav__ul">
            <li>

            </li>
            
            <li>

            </li>
            
            <li>

            </li>
          </ul>
        </li>
      </ul>
      
      <div class="legal">
        <p>&copy; 2024 HydraSoftware. All rights reserved.</p>
        
        <div class="legal__links">
          <span>Develop and Design with <span class="heart">♥</span> By Ismail Haidara at HydraSoftware</span>
        </div>
      </div>
    </footer>
    
    
    
    
    
  

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>